@model IEnumerable<CleanArchitecture.Application.ViewModels.KhachHangDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm())
{
    <p>
        <select name="loaiTimKiem">

            <option value="tenkhachhang">Tên Khách Hàng</option>
            <option value="taikhoan">Tên Tài Khoản</option>

        </select>
        Title: @Html.TextBox("dataTimKiem") <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaiTro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sdt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaiTro)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    double totalPages = ViewBag.TotalPages;

    for (int i = 1; i <= totalPages; i++)
    {
        <div class="pagination" style="float:left">

            @Html.ActionLink(i.ToString(), "Index", new { dataTimKiem = ViewBag.dataTimKiem, loaiTimKiem = ViewBag.loaiTimKiem, PageNumber = i })

        </div>
    }
}
